{% extends "profile/base.html" %}

{% block inner %}
<section class="flex flex-wrap gap-4 justify-center py-8 bg-gray-100 rounded-lg">
  {% for auction in profile.user.auctions.all %}
  <!-- Auction Component -->
  <article class="max-w-[330px] bg-white shadow-lg rounded-xl p-6 relative">
    <div class="flex flex-col">
      <div class="">
        <div class="h-62 w-full mb-3">
          {% if request.user == auction.owner %}
          <div class="absolute flex flex-col top-0 right-0">
            <div class="flex justify-between items-center gap-2 h-8 w-[70px]">
              <a href="" class="transition-all duration-100 w-7 h-7 p-1 hover:w-8 hover:h-8 dura">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></g>
                  <g id="SVGRepo_iconCarrier">
                    <path
                      d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z"
                      stroke="#000000"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13"
                      stroke="#000000"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </g>
                </svg>
              </a>
              <a href={% url "auctions:delete" auction.id %} class="transition-all duration-100 w-7 h-7 p-1 hover:w-8 hover:h-8 dura">
                <svg
                  viewBox="0 0 1024 1024"
                  fill="#000000"
                  class="icon"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></g>
                  <g id="SVGRepo_iconCarrier">
                    <path
                      d="M32 241.6c-11.2 0-20-8.8-20-20s8.8-20 20-20l940 1.6c11.2 0 20 8.8 20 20s-8.8 20-20 20L32 241.6zM186.4 282.4c0-11.2 8.8-20 20-20s20 8.8 20 20v688.8l585.6-6.4V289.6c0-11.2 8.8-20 20-20s20 8.8 20 20v716.8l-666.4 7.2V282.4z"
                      fill=""
                    ></path>
                    <path
                      d="M682.4 867.2c-11.2 0-20-8.8-20-20V372c0-11.2 8.8-20 20-20s20 8.8 20 20v475.2c0.8 11.2-8.8 20-20 20zM367.2 867.2c-11.2 0-20-8.8-20-20V372c0-11.2 8.8-20 20-20s20 8.8 20 20v475.2c0.8 11.2-8.8 20-20 20zM524.8 867.2c-11.2 0-20-8.8-20-20V372c0-11.2 8.8-20 20-20s20 8.8 20 20v475.2c0.8 11.2-8.8 20-20 20zM655.2 213.6v-48.8c0-17.6-14.4-32-32-32H418.4c-18.4 0-32 14.4-32 32.8V208h-40v-42.4c0-40 32.8-72.8 72.8-72.8H624c40 0 72.8 32.8 72.8 72.8v48.8h-41.6z"
                      fill=""
                    ></path>
                  </g>
                </svg>
              </a>
            </div>
          </div>
          {% endif %}
          <img src={{auction.image.url}} alt="auction image" class="h-[200px] w-full object-contain rounded-2xl" />
        </div>
        <div class="flex-auto justify-evenly">
          <div class="flex flex-wrap">
            {% if auction.is_active %}
            <div class="bg-green-400 text-white text-xs px-2 py-1 rounded-lg mb-2">
              OPEN
            </div>
            {% else %}
            <div
              class="bg-red-400 text-white text-xs px-2 py-1 rounded-lg mb-2">
              CLOSED
            </div>
            {% endif %}
            <div class="w-full min-w-0">
              <h2 class="text-lg mr-auto cursor-pointer text-black hover:text-purple-500 truncate">
                  {{ auction.title }}
              </h2>
            </div>
            <div class="text-sm text-gray-400">
              Current high bid by
              <span class="text-black text-sm cursor-pointer">@{{ auction.owner }}</span>
            </div>
          </div>
          <div class="text-xl text-black font-semibold mt-1">
            ${{ auction.current_price }}
          </div>
          <hr class="rounded mt-3 mb-3" />
          <div class="text-md text-black mb-2">Auction ends in</div>
          <div class="flex space-x-2 text-sm font-medium justify-between items-center">
            <p class="transition ease-in duration-300 inline-flex items-center text-sm font-medium mb-2 md:mb-0 bg-purple-500 px-5 py-2 hover:shadow-lg tracking-wider text-white rounded-full hover:bg-purple-600">
              <span>{{ auction.start_date }}</span>
            </p>
            <a href="{{ auction.get_absolute_url }}">info</a>
          </div>
        </div>
      </div>
    </div>
  </article>
  <!-- End Auction Component -->
  {% empty %}
  {% if request.user == profile.user %}
  <p>There are no auctions available, create your first <a href={% url "auctions:create" %} class="font-semibold underline">auction!</a></p>
  {% else %}
  <p>There are no auctions available!</p>
  {% endif %}
  {% endfor %}
</section>
{% endblock inner %}



