{% extends 'base.html' %}
{% load static %}
{% load tailwind_filters %}
{% block title %}{{auction.title}}{% endblock title %}
{% block content %}
<div class="p-5 bg-gray-100 rounded-lg">
  <input type=button value="Go Back" onClick="javascript:history.go(-1);" class="text-start hover:underline cursor-pointer">
  <div class="w-full flex md:flex-row flex-col mt-10 gap-[30px]">
    <div class="flex-1 flex-col bg-white rounded-lg">
      <img
        src={{auction.image.url}}
        alt="campaign"
        class="w-full h-[410px] object-contain rounded-xl"
      />
      <div class="relative w-full h-[5px] bg-[#3a3a43] mt-2">
        {% if auction.status == "Active" %}
        <div class="absolute h-full bg-green-400 w-full"></div>
        {% elif auction.status == "Inactive" %}
        <div class="absolute h-full bg-orange-400 w-full"></div>
        {% else %}
        <div class="absolute h-full bg-red-400 w-full"></div>
        {% endif %}
      </div>
    </div>
    {% if auction.status == "Active" %}
    <div class="flex md:w-[150px] w-full flex-wrap justify-between gap-[30px] max-sm:justify-center">
      <div class="flex flex-col items-center w-[150px] max-sm:w-[250px]">
        <h4 class="font-epilogue font-bold text-[30px text-black p-3 bg-white rounded-t-[10px] w-full text-center truncate" id="countdown-box-{{ auction.id }}" data-end="{{ auction.end_date|date:'c' }}">....</h4>
        <p class="font-epilogue font-normal text-[16px] text-[#171718] bg-[#e3e3e4] px-3 py-2 w-full rounded-b-[10px] text-center">
          Days Left
        </p>
      </div>
      <div class="flex flex-col items-center w-[150px] max-sm:w-[250px]">
        <h4 class="font-epilogue font-bold text-[30px text-black p-3 bg-white rounded-t-[10px] w-full text-center truncate">
          {{bid_list|length }}
        </h4>
        <p class="font-epilogue font-normal text-[16px] text-[#171718] bg-[#e3e3e4] px-3 py-2 w-full rounded-b-[10px] text-center">
          Total Bidders
        </p>
      </div>
      <div class="flex flex-col items-center w-[150px] max-sm:w-[250px]">
        <h4 class="font-epilogue font-bold text-[30px text-black p-3 bg-white rounded-t-[10px] w-full text-center truncate">
          {% if bid_list%}
          {% with bid_list|last as last %}
            {{ last.amount }} $
          {% endwith %}
          {% else %}
            0
          {% endif %}
        </h4>
        <p class="font-epilogue font-normal text-[16px] text-[#171718] bg-[#e3e3e4] px-3 py-2 w-full rounded-b-[10px] text-center">
          Best Offert
        </p>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="mt-[60px] flex lg:flex-row flex-col gap-5">
    <div class="flex-[2] flex flex-col gap-[40px]">
      <div>
        <h4 class="font-epilogue font-semibold text-[18px text-black uppercase">
          Creator
        </h4>
        <div class="flex flex-row w-full mt-[20px] items-center flex-wrap gap-[14px]">
          <div class="w-[52px] h-[52px] flex items-center justify-center rounded-full bg-white">
            <img src={{auction.owner.profile.profile_image.url}} alt="user" class="w-[60%] h-[60%] object-cover rounded-full" />
          </div>
          <div>
            <h4 class="font-epilogue font-semibold text-[14px] text-black break-all hover:underline">
              <a href={% url "users:profile-detail" auction.owner.profile.id%}> @{{auction.owner.profile.username}}</a>
            </h4>
            <p class="mt-[4px] font-epilogue font-normal text-[12px] text-[#171718]">
              {{auction.owner.auctions.all.count}} auctions
            </p>
          </div>
        </div>
        <div>
          <h4 class="font-epilogue font-semibold text-[18px] text-black uppercase mt-8">
            Title
          </h4>
          <div class="mt-[20px]">
            <p class="font-epilogue font-normal text-[16px] text-[#171718] leading-[26px] text-justify bg-white rounded-lg p-2 truncate">
              {{auction.title}}
            </p>
          </div>
        </div>
        <div>
          <h4 class="font-epilogue font-semibold text-[18px] text-black uppercase mt-8">
            Description
          </h4>
          <div class="mt-[20px]">
            <textarea cols="30" rows="10" class="font-epilogue font-normal text-[16px] text-[#171718] whitespace-pre-line leading-[26px] bg-white rounded-lg border-none overflow-auto scrollbar-hide w-full" disabled>
              {{auction.description}}
            </textarea>
          </div>
        </div>
        {% if auction.status == "Closed" %}
        <div class="flex justify-between items-center gap-4">
          <div class="w-1/2">
            <h4 class="font-epilogue font-semibold text-[18px] text-black uppercase mt-8">
              Winner
            </h4>
            <div class="mt-[20px]">
              <p class="font-epilogue font-normal text-[16px] text-[#171718] leading-[26px] text-justify bg-white rounded-lg p-2 hover:underline">
                <a href={% url "users:profile-detail" auction.winner.profile.id %}>@{{auction.winner.profile.username}}</a>
              </p>
            </div>
          </div>
          <div class="w-1/2">
            <h4 class="font-epilogue font-semibold text-[18px] text-black uppercase mt-8">
              Price
            </h4>
            <div class="mt-[20px]">
              <p class="font-epilogue font-normal text-[16px] text-[#171718] leading-[26px] text-justify bg-white rounded-lg p-2">
                ${{auction.end_price}}
              </p>
            </div>
          </div>
        </div>
        <div>
          <h4 class="font-epilogue font-semibold text-[18px] text-black uppercase mt-8">
            ETH transaction
          </h4>
          <div class="my-[20px]">
            <p class="font-epilogue font-normal text-[16px] text-[#171718] leading-[26px] text-justify bg-white rounded-lg p-2 hover:underline truncate">
              {% if auction.txId %}
              <a href="https://sepolia.etherscan.io/tx/{{auction.txId}}" target="_blank">Id: {{auction.txId}}</a>
              {% else %}
              Loading...
              {% endif %}
            </p>
          </div>
        </div>
        {% endif %}

        {% if auction.status == "Active" %}
        <div>
          <h4 class="font-epilogue font-semibold text-[18px] text-black uppercase mt-8">
            Recent offers
          </h4>
          <div class="mt-[20px] flex-col gap-4 bg-white p-5 rounded-md">
            {% with sorted_bids=bid_list|dictsortreversed:"bid_date" %}
              {% for bidder in sorted_bids|slice:":5" %}
              <div class="flex justify-between items-center bg-gray-100 h-[40px] px-5 max-sm:px-1 rounded-[10px] my-2">
                <p class="font-epilogue font-normal text-[16px] text-black leading-[26px] break-all truncate sm:w-[150px] hover:underline">
                  {% with user_id=bidder.user_id %}
                    {% with profile=user.profile %}
                    <a href={% url "users:profile-detail" profile.id %}>@{{bidder.bidder_username}}</a>
                    {% endwith %}
                  {% endwith %}
                </p>
                <p class="font-epilogue font-normal text-[16px] text-black leading-[26px] break-all">
                  {{bidder.amount}} $
                </p>
                <p class="font-epilogue font-normal text-[16px] text-black leading-[26px] break-all">
                  {{ bidder.bid_date }}
                </p>
              </div>
              {% empty %}
                <p>There are currently no offers...  </p>
              {% endfor %}
            {% endwith %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    {% if auction.status == "Active" %}
    <div class="flex-1">
      <h4 class="font-epilogue font-semibold text-[18px] text-black uppercase">
        Start Price
      </h4>
      <div class="my-[20px] flex flex-col p-4 bg-white rounded-[10px]">
        <p class="font-epilogue font-normal text-[16px] text-[#171718] leading-[26px] text-justify bg-white rounded-lg p-2">
          {{auction.current_price}} $
        </p>
      </div>
      <h4 class="font-epilogue font-semibold text-[18px] text-black uppercase">
        Current Price
      </h4>
      <div class="my-[20px] flex flex-col p-4 bg-white rounded-[10px]">
        <p class="font-epilogue font-normal text-[16px] text-[#171718] leading-[26px] text-justify bg-white rounded-lg p-2">
          {% if bid_list %}
          {% with bid_list|last as last %}
            {{ last.amount }} $
          {% endwith %}
          {% else %}
            0 $
          {% endif %}
        </p>
      </div>
      <h4 class="font-epilogue font-semibold text-[18px] text-black uppercase">
        make an offer
      </h4>
      <div class="mt-[20px] flex flex-col p-4 bg-white rounded-[10px]">
        <div class="mt-[30px]">
          <form action="{% url 'auctions:bid-create' auction.id %}" method="post">
            {% csrf_token %}
            {{ bid_form|crispy }}
            <div class="mt-[20px] p-4 bg-[#e3e3e4] rounded-[10px]">
              <p class="my-[20px] font-epilogue font-normal leading-[22px] text-[#808191]">
                Make a positive impact on the world
              </p>
            </div>
            <button class="mt-4 p-2 bg-purple-500 ring-1 ring-purple-400 text-white font-semibold rounded-md w-full" id="bid-btn">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}

{% block inline_javascript %}
<script type="text/javascript">
    const countdownBox = document.getElementById('countdown-box-{{ auction.id }}');
    const endTimestamp = new Date(countdownBox.getAttribute('data-end')).getTime();
    const bidForm = document.getElementById('bid-btn');

    setInterval(() => {
        const now = new Date().getTime();
        const diffToEnd = endTimestamp - now;

        if (diffToEnd > 0) {
            const days = Math.floor(diffToEnd / (1000 * 60 * 60 * 24));
            const hours = Math.floor((diffToEnd % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((diffToEnd % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((diffToEnd % (1000 * 60)) / 1000);
            countdownBox.innerHTML = `- ${days}d ${hours}h ${minutes}m ${seconds}s`;


        } else {
            countdownBox.innerHTML = 'Auction ended';

            bidForm.setAttribute('disabled', '');
        }
    }, 1000);
</script>
{% endblock inline_javascript %}
