{% extends "base.html" %}
{% load tailwind_filters %}
{% block title%}Auction{%endblock title %}
{% block content %}
<section class="bg-gray-100 flex justify-center items-center flex-col rounded-lg sm:p-10 p-4 w-full">
  <div class="flex justify-center items-center p-[16px] sm:min-w-[380px] bg-gray-200 rounded-lg shadow-md">
    <h1 class="text-black font-epilogue font-bold sm:text-[25px] text-[18px] leading-[38px]">
      Create an Auction
    </h1>
  </div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      {{ form.title|as_crispy_field }}
    </div>
    <div>
      {{ form.description|as_crispy_field }}
    </div>
    <div class="flex flex-wrap gap-[40px] max-sm:block">
      {{ form.current_price|as_crispy_field }}
      {{ form.end_date|as_crispy_field }}
    </div>
    {{ form.image|as_crispy_field }}
    <div class="flex justify-center items-center mt-[40px]">
      <button
        type="submit"
        class="w-full text-white bg-purple-500 hover:bg-purple-600 px-3 py-2 hover:ring-purple-700 hover:ring-2 rounded-md"
      >
        Submit
      </button>
    </div>
  </form>
</section>
{% endblock content %}
