{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% translate "Sign In" %}
{% endblock head_title %}
{% block inner %}
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8">{% translate "Login" %}</h2>

      <form class="max-w-lg border rounded-lg mx-auto" method='post' action={% url 'account_login' %}>
        <div class="flex flex-col gap-4 p-4 md:p-8">
          {% csrf_token %}
          {{form|crispy}}
          {% if redirect_field_value %}
            <input type="hidden"
              name="{{ redirect_field_name }}"
              value="{{ redirect_field_value }}" />
          {% endif %}
          <button type='submit'
            class="block bg-purple-400 hover:bg-purple-500 active:bg-purple-400 focus-visible:ring ring-gray-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">
            {% translate "Sign In" %}
          </button>
        </div>

        <div class="items-center bg-gray-100 p-4">
          <div>
            {% if ACCOUNT_ALLOW_REGISTRATION %}
              {% blocktranslate trimmed%}
                <p class="text-gray-500 text-sm text-center">
                  If you have not created an account yet, then please
                  <a href={{ signup_url }}
                    class="text-indigo-500 hover:text-indigo-600 active:text-indigo-700 transition duration-100">
                    Sign up
                  </a>
                  first.
                </p>
              {% endblocktranslate %}
            {% endif %}
          </div>
          <div>
            <p class="text-gray-500 text-sm text-center">{% translate "Forgot Password?" %}
              <a href={% url 'account_reset_password' %}
                class="text-indigo-500 hover:text-indigo-600 active:text-indigo-700 transition duration-100">
                {% translate "Reset password" %}
              </a>
              </p>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock inner %}




