{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% translate "Password Reset" %}
{% endblock head_title %}
{% block inner %}
  <div class="bg-gray-100 p-5 rounded-md mt-5">
    <h1 class="text-lg font-semibold">{% translate "Password Reset" %}</h1>
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
      {% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
    </p>
    <form method="post"
          action="{% url 'account_reset_password' %}"
          class="password_reset">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="bg-purple-300 hover:bg-purple-400 p-2 rounded-md my-2 font-medium"
            type="submit"
            value="{% translate 'Reset My Password' %}" />
    </form>
    <p>{% blocktranslate %}Please contact us if you have any trouble resetting your password.{% endblocktranslate %}</p>
  </div>
{% endblock inner %}
