{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}
  {% translate "Password Reset" %}
{% endblock head_title %}
{% block inner %}
  <div class="bg-gray-100 p-5 rounded-md mt-5">
    <h1 class="text-lg font-semibold">{% translate "Password Reset" %}</h1>
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
      {% blocktranslate %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktranslate %}
    </p>
  </div>
{% endblock inner %}
