{% load static %}

<div class="2xl:container 2xl:mx-auto mb-8">
  <div class="md:py-12 lg:px-20 md:px-6 py-9 px-4 m-auto flex items-center justify-between max-sm:flex-col">
    <p class="text-xl leading-5 text-gray-600 font-medium">
      {{auctions.count}} Auction
    </p>
    <div>
      <!-- filters Button (md and plus Screen) -->
      <button
        onclick="showFilters()"
        class="cursor-pointer sm:flex hidden hover:text-gray-700 focus:ring-offset-2 focus:ring-gray-800 py-4 px-6 text-base leading-4 font-normal text-gray-600 rounded-xl justify-center items-center"
      >
        <img
          class="dark:hidden"
          src="https://tuk-cdn.s3.amazonaws.com/can-uploader/filter1-svg1.svg"
        />
        <img
          class="hidden dark:block w-5 ml-2"
          src={% static 'images/filter.svg' %}
          alt="filter"
        />
        Filters
      </button>
    </div>

    <!-- Filters Button (Small Screen) -->

    <button
      onclick="showFilters()"
      class="cursor-pointer mt-6 sm:hidden hover:bg-gray-700 focus:ring-offset-2 focus:ring-gray-800 py-2 w-full bg-gray-800 flex text-base leading-4 font-normal text-white justify-center items-center"
    >
      <img
        class="hidden dark:block w-5"
        src={% static 'images/filter.svg' %}
        alt="filter"
      />
      Filters
    </button>
  </div>
  <form action={% url "auctions:list" %} method="get">
    <div id="filterSection" class="relative md:py-10 lg:px-20 md:px-6 py-9 px-4 bg-gray-100 w-full rounded-lg hidden">
      <!-- Auction Status -->
      <label class="mr-2 text-lg leading-3 font-semibold text-gray-600" for="status_filter">Status Filter</label>
      <div class="md:flex md:space-x-6 mt-8 grid grid-cols-3 gap-y-8 flex-wrap">
        <div class="flex space-x-2 md:justify-center md:items-center items-center justify-start">
          <input
            class="w-4 h-4 mr-2"
            type="checkbox"
            id="active"
            name="status_filter"
            value="active"
          />
          <div class="inline-block">
            <div class="flex space-x-6 justify-center items-center">
              <label
                class="mr-2 text-sm leading-3 font-normal text-gray-600"
                for="active"
                >Active</label
              >
            </div>
          </div>
        </div>
        <div class="flex justify-center items-center">
          <input
            class="w-4 h-4 mr-2"
            type="checkbox"
            id="inactive"
            name="status_filter"
            value="inactive"
          />
          <div class="inline-block">
            <div class="flex space-x-6 justify-center items-center">
              <label
                class="mr-2 text-sm leading-3 font-normal text-gray-600"
                for="inactive"
                >Inactive</label
              >
            </div>
          </div>
        </div>
      </div>


      <!-- Apply Filter Button (Large Screen) -->

      <div class="hidden md:block absolute right-0 bottom-0 md:py-10 lg:px-20 md:px-6 py-9 px-4">
        <button
          type="submit"
          class="w-full px-6 py-3 mt-6 text-sm font-semibold tracking-wide text-white capitalize transition-colors duration-300 transform bg-purple-400 rounded-lg hover:bg-purple-500 focus:outline-none"
        >
          Apply Filter
        </button>
      </div>

      <!-- Apply Filter Button (Table or lower Screen) -->

      <div class="block md:hidden w-full mt-10">
        <button
          type="submit"
          class="w-full px-6 py-3 mt-6 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-purple-400 rounded-lg hover:bg-purple-500 focus:outline-none"
        >
          Apply Filter
        </button>
      </div>
    </div>
  </form>
</div>

<style>
  .checkbox:checked + .check-icon {
    display: flex;
  }
</style>
