{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block title %}{% endblock title %} | Web3Auction Start2Impact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Author -->
    <meta name="author" content="Isacco Bertoli" />
    <!-- Description -->
    <meta name="description" content="Web3Auction project for Start2Impact" />
    <!-- Keyword -->
    <meta
      name="keywords"
      content="Isacco Bertoli, Web3Auciton, Start2Impact, Api, Profile,
          Isacco Bertoli Contact, Isacco Bertoli Portfolio, Isacco Bertoli Contact,
          Isacco Bertoli About, Isacco Bertoli Email, Isacco Bertoli GitHub, Isacco Bertoli Works,
          Isacco Bertoli Skills, Isacco Bertoli Contatti, Isacco Bertoli Progetti, Isacco Bertoli Lavori,
          Isacco Bertoli Profilo"
    />
    <meta name="referrer" content="origin" />
    <!-- OGP -->
    <meta property="og:title" content="Isacco Bertoli Web3Auction" />
    <meta
      property="og:description"
      content="Web3Auction project for Start2Impact"
    />
    <meta
      property="og:url"
      content="https://isacco-b.github.io/HtmlCssProject_Start2Impact/"
    />
    <meta
      property="og:image"
      content="https://i.postimg.cc/T1nfjDX3/portfolio-home.png"
    />
    <link rel="icon" href="{% static 'images/favicons/favicon.svg' %}" />
    {% block css %}

    <!-- Your stuff: Third-party CSS libraries go here -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet" />

    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {%block javascript %}

    <!-- place project specific Javascript in this file -->
    <script defer src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}
  </head>
  <body>
    {% include "./components/navbar.html" %}
    <div class="min-h-screen bg-[#1d1d80] m-auto">
      {% include "./components/message.html" %}
      {% block content %}
      {% endblock content %}
    </div>
    {% include "./components/footer.html" %}
    {% block modal %} {% endblock modal %}
    {% block inline_javascript %} {% endblock inline_javascript%}
  </body>
</html>
